html{
    scroll-behavior: smooth;
}

.text-color
{
    color: #e2b75b;
}

.text-color-muted
{
    color: #e2b75b;
    opacity: 0.8;
}

a.live-demo:hover{
    color: #e2b75b;
    opacity: 0.8;
}

a.nav-link:hover{
    color: #e2b75b;
    opacity: 0.8;
}

a.navbar-brand:hover{
    color: #e2b75b;
    opacity: 0.8;
}

@media (max-width: 1399.98px) {
    div img{
        width: 350px;
        height: 350px;
    }
 }

 @media (max-width: 1199.98px) {
    div img{
        width: 350px;
        height: 350px;
    }
 }

 @media (max-width: 991.98px) {
    div img{
        width: 300px;
        height: 300px;
    }
 }

 @media (max-width: 767.98px) {
    div img{
        width: 250px;
        height: 250px;
    }
 }

 @media (max-width: 575.98px) {
    div img{
        width: 250px;
        height: 250px;
    }
 }